@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Space Mono', monospace;
  font-family: 'Open Sans', sans-serif;

  max-width: 100%;
  margin: auto;
  font-size: 1rem;
}


nav {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  z-index: 9999;
}


nav > ul > li {
  list-style: none;
  display: inline-block;
  font-size: 1rem;
}

nav > ul > li > a,
a {
  text-decoration: none;
  color: #db2777;
  padding: 8px 16px;
  border-radius: 8px;
}

nav > ul > li > a:hover,
a:hover {
  background-color: #e17cb2;
  color: #ffffff;
}
#menu-toggle,
#menu-close {
  display: none;
}

/* Add this CSS for small devices (e.g., mobile) */
@media only screen and (max-width: 768px) {
  nav {
    align-items: stretch;
    justify-content: space-between;
  }

  .jt__row {
    order: -1;
  }

  #menu-toggle {
    display: block;
    order: 1;
    margin-right: 10px;
    cursor: pointer;
  }

  #menu-close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 99999999;
  }

  nav.open #menu-toggle {
    display: none;
  }

  nav.open #menu-close {
    display: block;
  }

  nav > ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 99.9%;
    background-color: #ffffff; /* Set your background color */
    z-index: 9998;
    padding-top: 80px; /* Adjust as needed */
    box-sizing: border-box;
  }

  nav > ul > li {
    display: block;
    text-align: center;
    margin-bottom: 1rem; /* Adjust as needed */
  }

  nav > ul > li > a {
    display: block;
    padding: 16px;
    font-size: 1.2rem; /* Adjust as needed */
  }

  nav > ul > li > a:hover {
    background-color: #e17cb2;
    color: #ffffff;
  }

  nav.open ul {
    display: block;
  }
}


/* Add this to style the menu and close button icons */
#menu-toggle,
#menu-close {
  cursor: pointer;
  font-size: 1.5rem;
  color: #db2777;
}


h1.title {
  text-align: center;
  margin: 1rem;
  text-decoration: underline;
}
div.tutorial-info {
  border: 4px solid #d1d5db;
  padding: 32px;
  border-radius: 16px;
  margin-top: 32px;
}
ol.tutorial-info {
  font-size: 1.5rem;
  padding: 0 32px;
  /* list-style-type: square; */
  /* list-style: disc; */
}

.tutorial-info > li {
  margin: 8px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form.lg-form {
  margin: 16px;
  padding: 32px;
  border: 4px solid #d1d5db;
  min-width: 400px;
  border-radius: 16px;
}

.lg-form label,
.lg-form input {
  display: block;
  min-width: 100%;
  margin: 8px 0px;
}

.lg-form label {
  font-weight: bold;
}

.lg-form input {
  height: 44px;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 1rem;
  background-color: #f3f4f6;
}

.lg-form input[type='submit'] {
  margin: 16px 0;
  background-color: #db2777;
  color: #fff;
  cursor: pointer;
}

input:focus {
  outline: none;
  background-color: #fff;
  border: 2px solid #f3f4f6;
  /* box-shadow: 0 0 8px #fdf2f8; */
}

h1.table {
  text-decoration: underline;
  margin: 16px 0;
}

table {
  margin-top: 32px;
  min-width: 600px;
  border: none;
  border-spacing: 0;
  border: 4px solid #d1d5db;
  padding: 16px;
  border-radius: 16px;
}

thead {
  font-size: 1.25rem;
  color: #fff;
}

thead tr {
  border-radius: 8px;
  background-color: #db2777;
  overflow: hidden;
}

thead th {
  padding: 8px 0;
  text-align: left;
  padding-left: 16px;
}

table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
}

thead th:nth-child(1) {
  max-width: 44px;
}

tbody tr:hover {
  background-color: #fdf2f8;
}

tbody tr td {
  padding: 8px 0;
  margin: 8px 0;
}

.manage-user-form input[type='submit'] {
  background: transparent;
  color: #db2777;
  border: none;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
}

.manage-user-form input[type='submit']:hover {
  background-color: #fdf2f8;
}

.manage-user-form select {
  border: none;
  font-size: 1.05rem;
  padding: 6px 12px;
  border-radius: 8px;
  border: 2px solid #f3f4f6;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 6em;
  min-width: 6em;
  max-width: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
}

.profile {
  min-width: 600px;
  padding: 16px;
  border: 4px solid #d1d5db;
  border-radius: 16px;
  margin-top: 32px;
}

.profile > div {
  padding: 16px;
}

.profile .title {
  font-weight: bold;
}

.goback {
  cursor: pointer;
}

div.messages {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.messages {
  list-style: none;
  min-width: 600px;
  max-width: 600px;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
}

ul.messages * {
  padding: 8px 12px;
}

.messages .error {
  background-color: #f87171;
}
.messages .success {
  background-color: #6ee7b7;
}
.messages .warning {
  background-color: #fcd34d;
}
.messages .info {
  background-color: #93c5fd;
}

.btn{
  background-color: #db2777;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
}
.btn:hover {
  background-color: #b2185e;
  transform: scale(1.1);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.update-button{
  background-color: #db2777;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
}
.update-button:hover {
  background-color: #b2185e;
  transform: scale(1.1);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin-top: -34px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background:  linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
}

.content{
  width: 100%;
  min-height: 100vh;
  position: absolute;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1{
  font-size: 45px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}

.content p{
  font-size: 16px;
  color: #fff;
}

/* === removing default button style ===*/
.button {
margin: 0;
height: auto;
background: transparent;
padding: 0;
border: none;
}

/* button styling */
.button {
--border-right: 6px;
--text-stroke-color: rgba(255,255,255,0.6);
--animation-color:rgba(20, 36, 50, 0.728);
--fs-size: 2em;
letter-spacing: 3px;
text-decoration: none;
font-size: var(--fs-size);
font-family: "Arial";
position: relative;
text-transform: uppercase;
color: transparent;
-webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
position: absolute;
box-sizing: border-box;
content: attr(data-text);
color: var(--animation-color);
width: 0%;
inset: 0;
border-right: var(--border-right) solid var(--animation-color);
overflow: hidden;
transition: 0.5s;
-webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
width: 100%;
filter: drop-shadow(0 0 23px var(--animation-color))
}

/*  */

.square {
position: relative;
margin: 0px 10px;
width: 400px; height: 400px;
display: flex;
justify-content: center;
align-items: center;
}

.square .one {
position: absolute;
width: 100%;
height: 100%;
border: 2px solid black;
border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
transition: 0.5s;
animation: animate 6s linear infinite;

}

.twitch:hover .one {
border: none;
background:rgb(20, 36, 50);;
}

.square .two {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 2px solid black;
border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
transition: 0.5s;
animation: animate 6s linear infinite;
}

.twitch:hover .two {
border: none;
background: rgb(20, 36, 50);;

}


.square .three {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 2px solid black;
border-radius: 31% 45% 74% 35% / 38% 56% 51% 37%;
transition: 0.5s;
animation: animate2 10s linear infinite;
}
.twitch:hover .three {
border: none;
background:rgb(20, 36, 50);;
}

.circle {
position: relative;
padding: 40px 60px;
text-align: center;
transition: 0.5s;
z-index: 1000;
}

.square:hover{
color: white;
}

.content:hover {

color: #ffffff;
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(0deg);
  }

}

.DrugRadar{
  font-size: 50px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Light black on hover */
}